@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  -webkit-animation-name: flash-animation;
  -webkit-animation-duration: 1s;

  animation-name: flash-animation;
  animation-duration: 1s;
}

@-webkit-keyframes flash-animation {  
  from { background: rgb(110, 203, 141); }
  to   { background: default; }
}

@keyframes flash-animation {  
  from { background: rgb(110, 203, 141); }
  to   { background: default; }
}